html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

table{
    border-style:groove;
}
body {
  margin-bottom: 60px;
}

.parent {
    margin: 20px;
    display: flex;
}

.left-panel {
    flex: 2;
    padding-right: 20px;
}

.right-panel {
    flex: 3;
    padding-left: 10px;
    margin-top: 20px;
    
}

.button{
    flex:2;
}

.Online {
    background-color: mediumspringgreen;
    margin: 0;
}

.Offline{
    
    margin:0;
}

.tr_Online {
    background-color: mediumseagreen;
    box-sizing: content-box;
    margin-bottom: 0em;
    font-weight: 800;
}

.tr_Offline {
    background-color: lightcoral;
    box-sizing: content-box;
    margin-bottom: 0em;
    font-weight: 800;
}

.message {
    font-family: fantasy;
    font-size: medium;
}