@page
@model IndexModel
@{
    ViewData["Title"] = "Проверка доступности камер";
}
<div class="parent">
<div class="left-panel">
        <form method="post">
        <p>
            Введите текст, содержащий IP адреса: <br />
            <textarea asp-for="SearchString" rows="30" cols="70"></textarea>
            <input class="button" type="submit" value="Проверить" />
        </p>
    </form>
</div>
<div class="right-panel">
    <!-- Здесь будет результат от сервера -->
        @{
            string message = "";
            if (Model.Cameras != null)
            {
                int total = Model.Cameras.Count;
                int offline = Model.Cameras.Count(x => !x.IsOnline);
                if (total == offline)
                {
                    message = "Найдено " + total + " ip. Все недоступны.";
                }else
                {
                    if (offline == 0)
                    {
                        message = "Найдено " + total + " камер. Все доступны.";
                    }else
                    {
                        message = offline + " недоступно из " + total;
                    }
                }
            }   
        }
    <p>@message</p>
    @if (Model.Cameras != null)
    {
       <table class="table">
        <thead>
            <tr>
                 <th>
                    #
                </th>
                <th>
                    IP адрес
                </th>
                <th>
                    Доступность
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int i = 1;}
    @foreach (var item in Model.Cameras)
                    {
            <tr class=tr_@item>
                    <td>
                             @Html.DisplayFor(modelItem => i)
                             @{i++;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @if(item.IsOnline) 
                        {
                            <p  class="Online">Доступен</p>
                        }else 
                        {
                            <p class="Offline">Недоступен</p>
                        }
                            </td>
                </tr>
            }
        </tbody>
    </table> 
    }
    
</div>
    </div>
