@page
@model IndexModel
@{
    ViewData["Title"] = "Проверка доступности камер";
}
<div class="parent">
<div class="left-panel">
    <form>
        <p>
            Введите текст, содержащий IP адреса: <br />
            <textarea asp-for="SearchString" rows="20" cols="50"></textarea>
            <input class="button" type="submit" value="Проверить" />
        </p>
    </form>
</div>
<div class="right-panel">
    <!-- Здесь будет результат от сервера -->
    <p>Результаты</p>
    @if (Model.Cameras != null)
    {
       <table class="table">
        <thead>
            <tr>
                 <th>
                    #
                </th>
                <th>
                    IP адрес
                </th>
                <th>
                    Доступность
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{var i = 1;}
    @foreach (var item in Model.Cameras)
    {
                <tr>
                    <td>
                        -
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @if(item.IsOnline) 
                        {
                            <p class="Online">Доступен</p>
                        }else 
                        {
                            <p class="Offline">Недоступен</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table> 
    }
    
</div>
    </div>
